.group.shadow
  %h3#group-title.group-title
    %span#group-indicator.fa.fa-caret-right
    Group Interview
  #group-details
    %ul#group-list.group-list

    %a#group-interview.btn.extra-spacing-vertical Start Interview
