#nameBox.highlight-box.text-center
  %form.form-inline#nameForm{:role => 'form'}
    %label.big-label.sr-only{:for => 'name'} What's your name?
    %input#name.form-control{:placeholder => 'Enter your name', :type => 'text'}/
    %button.btn.btn-full-width{:type => 'submit'} Go
