%section#hero-section-office.hero-section.text-center
  .container
    .highlight-box
      %h1 CastHire
      %h2 Catch Your Next Great Hire
      %p
        CastHire is a completely digital, mass hiring solution. You can now screen as many candidates as you need, allowing you to go beyond the resume while also screening more efficiently.
        To use CastHire, create a new a "Casting Call" and use the link to invite all your candidates into a virtual lobby. Your candidates never need to sign up for anything or download additional software.
        When you open a Casting Call, you can address your candidates as a group, and, when you're ready, interview each candidate in turn or in groups in a private room, seperate from the lobby. When you have finished with your candidate, simply return to the lobby and repeat the process.
        Best of all? CastHire is currently free to use during our beta-phase. Let us know what you think!
      %p
      %p
        CastHire requires the use of Google Chrome or Firefox.
      %p
        = link_to 'Sign in', new_session_path, class: 'btn btn-primary btn-lg extra-spacing-vertical'

  .transparent-bar-dark.footer-highlight
    %ul#contact-list
      %li.contact-list-item
        %span.footer-icon.fa.fa-phone-square
        (818) 583-7080
      %li.contact-list-item
        %a{href: 'mailto:support@casthire.com'}
          %span.footer-icon.fa.fa-envelope
          support@casthire.com
